[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "evabic"]
	path = evabic
	url = https://github.com/abichat/evabic
[submodule "scimo"]
	path = scimo
	url = https://github.com/abichat/scimo
[submodule "yatah"]
	path = yatah
	url = https://github.com/abichat/yatah
